* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Tahoma, sans-serif;
}

a:link,
a:visited {
    color: #8b0000;
}

a:active {
    color: #8b0000;
}

.main-container {
    flex: 1 0 auto;
}

.logo-wrap {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    border-bottom: 1px solid #000;
}

.logo-wrap img {
    padding: 20px;
    max-width: 45%;
    height: auto;
}

.ranking-wrap {
    text-align: center;
}

.ranking-wrap img {
    max-width: 230px;
    border-bottom: 0;
    box-shadow: 0 0 20px #000;
}

.ranking-wrap a {
    display: block;
}

.ranking1617,
.ranking1718 {
    text-align: center;
    display: inline-block;
    padding: 35px 50px;
}

.text-link {
    font-size: 20px;
    letter-spacing: 1px;
    color: #8b0000;
    text-decoration: none;
    padding-top: 10px;
    display: block;
    transition: all 0.2s;
    border-bottom: 1px solid #FFF;
}

.text-link:hover {
    color: #b90000;
    border-bottom: 1px solid #8b0000;
}

footer {
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #DDD;
}

@media screen AND (max-width: 1300px) {
    .logo-wrap img {
        max-width: 70%;
    }
}

@media screen AND (max-width: 665px) {
    .logo-wrap {
        max-width: 100%;
    }
    .logo-wrap img {
        max-width: 100%;
    }
    
    .ranking1617,
    .ranking1718 {
        padding: 15px;
    }
    
    .ranking-wrap img {
        max-width: 150px;
    }
}